.footer {
  background: #fbf6ff;
  padding: 40px 20px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
}

/* LOGO */
.footer-logo img {
  max-width: 320px;
  margin-bottom: 24px;
}

/* NAV LINKS */
.footer-links {
  display: flex;
  justify-content: center;
  gap: 48px;
  margin: 40px 0px 80px 0px;
  flex-wrap: wrap;
}

.footer-links a {
  text-decoration: none;
  color: #693C79;
  font-size: 20px;
  font-weight: 400;
  transition: 0.2s;
}

.footer-links a:hover {
  opacity: 0.8;
}

/* COPYRIGHT */
.footer-copy {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-logo img {
    max-width: 260px;
  }

  .footer-links {
    gap: 20px;
    font-size: 14px;
  }

  .footer-copy {
    font-size: 13px;
  }
}